/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.done {
	text-decoration: line-through;
}

.navbar-inverse {
	background-color: white;
}

.navbar {
	min-height: 150px;
}

.navbar-brand {
	height: 80px;
}

.navbar-brand img {
	height: 120px;
}

.jumbotron {
	padding-top: 130px !important;
}